@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  /* @font-face {
    font-family: "freXWideReg";
    font-weight: normal;
    font-display: auto;
    font-style: normal;
    -webkit-font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeLegibility;
    src: url("/fonts/Freigeist/freigeist-xconregular.ttf") format("truetype");
  } */
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  }

  .trans {
    @apply transition duration-300 ease-in-out;
  }
}

#bg-here {
  /* overflow-x: hidden; */
  background: url(https://i.imgur.com/MvOM3JU.jpeg) no-repeat center center;
  /* background: url('../public/background.png') no-repeat center center fixed; */
  /* height: 100vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0c0c0c;
}

::-moz-selection {
  background: #fff;
  color: #000000;
}

::-webkit-selection {
  background: #fff;
  color: #000000;
}

::selection {
  background: #fff;
  color: #000000;
}

@media only screen and (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #111111;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  font-variant-ligatures: none;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
